    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Juguemonosla con respeto</h2>
                        <h3>PlayApp</h3>
                        <p>No hagas trato con el maltrato</p>
                    </div>
                    <div class="get-start-area">                        
                        <form action="#" method="post" class="form-inline">
                            <input type="email" class="form-control email" placeholder="info@creapptivos.com">
                            <input type="submit" class="submit" value="Contactanos">
                        </form>
                    </div>
                </div>
            </div>
        </div>        
        <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
            <%=image_tag("bg-img/welcome-img.png", alt: "")%>            
        </div>
    </section>

    <section class="special-area gradient-bck section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">                    
                    <div class="section-heading text-center">
                        <h2>Cero tolerancia con el maltrato</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">                
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4>Aplicativo movil multiplataforma</h4>
                        <p>Disponible para dispositivos Android y iOS.</p>
                    </div>
                </div>                
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4>Graficas en tiempo real</h4>
                        <p>Provee información de uso en tiempo real</p>
                    </div>
                </div>                
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="fa fa-bluetooth" aria-hidden="true"></i>
                        </div>
                        <h4>Multiusuario</h4>
                        <p>Juega con tus amigos.</p>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="special_description_area mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                        <%=image_tag("bg-img/special.png", alt: "")%>
                           
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="special_description_content">
                            <h2>No hagas trato con el maltrato</h2>
                            <p>Creemos que la manera mas efectiva de prevenir echos de violencia es a traves de la enseñanza de valores de manera ludiga y en tretenida a los mas pequeños.</p>
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                    <!-- Google Store Btn -->
                                    <a href="#">
                                        <i class="fa fa-android"></i>
                                        <p class="mb-0"><span>disponible en</span> Google Store</p>
                                    </a>
                                </div>
                                <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                    <!-- Apple Store Btn -->
                                    <a href="#">
                                        <i class="fa fa-apple"></i>
                                        <p class="mb-0"><span>disponible en</span> Apple Store</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <div class="video-section ">
        <div class="container">
            <div class="row">
                <div class="col-12">                        
                    <div class="video-area video-background">
                        <div class="video-play-btn">
                            <a href="https://www.youtube.com/watch?v=4mP1lws9gUA" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section class="cool_facts_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="counter-area">
                            <h3>+<span class="counter">90</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-download"></i>
                            <p>APP <br> Descargas</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="counter-area">
                            <h3>+<span class="counter">120</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-smile-o"></i>
                            <p>Niños <br> Felices</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="counter-area">
                            <h3>+<span class="counter">40</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-users"></i>
                            <p>Partidas <br>Diarias</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                        <div class="counter-area">
                            <h3><span class="counter">10</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-star"></i>
                            <p>Calificación <br> App Store</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="app-screenshots-area bg-white section_padding_0_100 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Funcionalidades</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- App Screenshots Slides  -->
                    <div class="app_screenshots_slides owl-carousel">
                        <div class="single-shot">
                            
                            <%=image_tag("scr-img/1.png", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/2.png", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/3.png", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/4.png", alt: "")%>
                        </div>
                        <div class="single-shot">
                            <%=image_tag("scr-img/1.png", alt: "")%>
                        </div>
						<div class="single-shot">
                            <%=image_tag("scr-img/3.png", alt: "")%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-monthly-membership  section_padding_50 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="membership-description">
                        <h2>Descarga y empieza a jugar ahora</h2>
                        <p>Estamos seguros que te va a encantar.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                        <a href="#">Descargar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="investors">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">                   
                    <div class="section-heading">
                        <h2>Creadores</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">                   
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag("team-img/team-2.jpg", alt: "")%>
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4><a href="https://breinergonza.net/">Breitner Gonzalez</a></h4>
                            <p>Desarrollador</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4">
                   
                </div>
            </div>
        </div>
    </section>
   
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Contactenos!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p>Esperamos contar con tus observaciones y recomendaciones con el fin de brindarte la mejor experiencia.</p>
                    </div>
                    <div class="address-text">
                        <p><span>Dirección:</span> Bogotá - Colombia</p>
                    </div>
                    <div class="phone-text">
                        <p><span>Telefono:</span> +57 311-652-05-74</p>
                    </div>
                    <div class="email-text">
                        <p><span>Correo:</span> breinergonza@hotmail.com</p>
                    </div>
                </div>
                <div class="col-md-6">                    
                    <div class="contact_from">
                        <form action="#" method="post">                            
                            <div class="contact_input_area">
                                <div class="row">                                    
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Su nombre" required>
                                        </div>
                                    </div>                                    
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Su correo" required>
                                        </div>
                                    </div>                                    
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Su mensaje *" required></textarea>
                                        </div>
                                    </div>                                    
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Enviar</button>
                                    </div>
                                </div>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->